PROJECT_NAME=news-feed-backend
PROJECT_VERSION=0.4.0

API_VERSION=v1

ENVIRONMENT=development

GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URL=http://localhost:3000/v1/auth/google/callback

RSS_FEED_CRON_ACTIVE=true
RSS_FEED_CRON_SCHEDULE=@every 15m

JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRY_DAYS=30
