PROJECT_NAME=news-feed-backend
PROJECT_VERSION=0.1.0

API_VERSION=v1

ENVIRONMENT=development

GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here